<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h3>以下の内容で送信する</h3>

    <%= form_for(@tweet) do |f| %>
     <!-- `f.hidden_field`を使用して、リクエストパラメータに値を設定できるようにしています。 -->
     <%= f.hidden_field :content %>

     <!-- @tweet.contentとすることで、表示用の値を画面に出力しています。 -->
     <div class = "tweet_confirm_box">
       <p class = "break_confirm"><%= @tweet.content %></p>
     </div>
     <%= f.submit "登録する", class: 'btn btn-primary btn-block'%>
    <% end %>
    <br>
    <%= form_for(@tweet, url: new_ystweet_path, method: 'get') do |f| %>
      <%= f.hidden_field :content %>
      <%= f.submit "もどる", name: 'back', class: 'btn btn-default btn-block' %>
    <% end %>
  </div>
</div>
